
  .bs-example{
    margin: 20px;
    
  }

  .main-nav {
    width: 100%;
  }

  .logo {
    position: relative;
    /* z-index: 97; */
    width: 170px;
    height: 30px;
    background: url(./logo.png);
    /* background-size: 219px auto; */
    overflow: hidden;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }