.card {
    display: grid;
    /* height: 200px; */
    grid-template-rows: 120px 1fr 25px;
    grid-template-columns: 1fr;
    justify-self: center;
}

.p-btn {
    display: flex;
    justify-content: center;
}

.p-btn button {
    padding: 0 5px;
}