.header {
    grid-area: header;
    /* background-color: rgb(35, 35, 74); */
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    /* padding: 0 20px; */
    height: 100%;
    align-items: center;
    grid-row: 1;
    z-index: 2;
    position: sticky;
    top: 0;
}

.header a {
    color: white;
    
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 72px 1fr 30px;
    grid-template-areas: 
        "header" 
        "main" 
        "footer";
}